@font-face {
  font-family: 'MilasianCirca';
  src: url('MilasianCirca.woff2') format('woff2'),
      url('MilasianCirca.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.html {
  white-space: nowrap;
}

h2 {
  text-align: center ;
  margin-bottom: 1.5rem;
}

.body {
  overflow-x: hidden;
  background: #14041e;
}

.body-grid {
  display: grid;
  width: 100%;
  grid-template-areas: "gridNav" "gridMainMobile";
}

.gridNav {
  background: linear-gradient(
    180deg,
    #0b0610 43.75%,
    #4e327b 64.06%,
    #06010a 98.96%
  );
}

/*grid mobile*/

.gridMain {
  display: none;
}

.gridMainMobile {
  background: #14041e;
  display: grid;
  grid-template-areas:
    "a b"
    "c c"
    "d e";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 15vh;
}

.media1 {
  grid-area: a;
}

.media2 {
  grid-area: b;
}

.media3 {
  grid-area: c;
}

.media4 {
  grid-area: d;
}

.media5 {
  grid-area: e;
}

/*nav-bar mobile*/
.menuMobile {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menuImg {
  width: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.logoMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoMobile p {
  font-family: 'MilasianCirca' !important;
  font-weight: normal;
  font-style: normal;
  color: #ecd7fb;
  text-align: center;
  font-size: clamp(3.5rem, 4vw, 6rem);
}

/* nav-bar */

.closeLogo{
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-top: 1rem;
  padding-right: 1rem;
}

.closeLogo img{
  width: 2.5rem;
}
.gridNav a:hover {
  color: #837b8b;
}

.nav-bar {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400px;
  font-size: clamp(1.5rem, 5vw, 24px);
  line-height: 33px;
  position: absolute;
  top: 50px;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar a {
  list-style-type: none;
  padding: 3vh;
  color: #ecd7fb;
  display: block;
  text-decoration: none;
}

.nav-bar p {
  color: #fff;
  text-align: center;
  margin-bottom: 4rem;
}

.nav-bar li img {
  width: 2rem;
}

.nav-bar li {
  display: flex;
  flex-direction: row;
}

.logo {
  display: none;
}

/* Font navbar */

.font-navbar-nosotros {
  position: absolute;
  width: 203px;
  left: 60px;
  top: 80px;
}

.redes {
  display: none;
}

.whatsapp {
  position: fixed;
  width: 10vh;
  height: 10vh;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 6.8vh;
  z-index: 1;
  bottom: 12vh;
  right: 2%;
}

/* media */
.gridMainMobile div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media1 {
  filter: drop-shadow(0px 4px 10px rgba(236, 215, 251, 0.25));
  border-radius: 20px;
}

.media2 {
  filter: drop-shadow(0px 4px 10px rgba(236, 215, 251, 0.25));
  border-radius: 20px;
}

.media3 {
  filter: drop-shadow(0px 4px 10px rgba(236, 215, 251, 0.25));
  border-radius: 20px;
}

.media4 {
  filter: drop-shadow(0px 4px 10px rgba(236, 215, 251, 0.25));
  border-radius: 20px;
}

.media5 {
  filter: drop-shadow(0px 4px 10px rgba(236, 215, 251, 0.25));
  border-radius: 20px;
}

.media6 {
  filter: drop-shadow(0px 4px 10px rgba(236, 215, 251, 0.25));
  border-radius: 20px;
}

.media7 {
  filter: drop-shadow(0px 4px 10px rgba(236, 215, 251, 0.25));
  border-radius: 20px;
}

.media8 {
  filter: drop-shadow(0px 4px 10px rgba(236, 215, 251, 0.25));
  border-radius: 20px;
}

.media9 {
  filter: drop-shadow(0px 4px 10px rgba(236, 215, 251, 0.25));
  border-radius: 20px;
}

.iconoInstagram {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 48px;
  top: 4px;
}

.iconoFacebook {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 100px;
  top: 4px;
}

.iconoTikTok {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 158px;
  top: 4px;
}

.iconoEmail {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 213px;
  top: 4px;
}

/*Modal*/
.modal-content,
.modal-body {
  border-radius: 2rem;
  width: 100%;
}

.modal-content {
  background: #14041e;
}



/* modal Nosotros */
/******************/
.textoNosotros {
  padding: 2vh;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 160%;
  text-align: center;
  color: #ffffff;
}


/* modal Productos */
/******************/

.textoProductos {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem,2vw, 2rem);
  line-height: 1.5rem;
  text-align: center;
  margin-top: 10px;
}

.buzos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  background: #ecd7fb;
  border-radius: 25px;
  margin-bottom: 2.5rem;
}

.logoProductos {
  position: relative;
  width: 6vw;
  top: -3vh;
  left: 4vw;
  display: none;
}

.textoTitulo {
  display: flex;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 3.5vw, 30px);
  color: #000;
  padding-left: 26px;
  top: -15px;
  justify-content: space-between;
}

.sizeBuzo {
  width: 80%;
}
.cardsProductos {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  gap: 1rem;
  margin: auto;
  background: rgba(236, 215, 251, 0.25);
  padding: 1rem;
  border-radius: 25px;
}
.cardProducto {
  transition: 0.3s;
}

.containerCardProducto {
  text-align: center;
}

.cardFotoProducto {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.cardFotoProducto img {
  width: 100%;
}

/* modal Producto Individual */
/*****************************/

.textoProducto {
  left: 680px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1.5rem, 5vw, 30px);
  line-height: 36px;
  color: #ecd7fb;
}

.textoProducto h5 {
  display: none;
}

.textoProducto h2 {
 margin-bottom: 1.5rem;
}

.imgBuzo {
  margin: 0 !important;
  border-radius: 50px;
  max-width: 598px;
}

.botonComprar {
  width: 200px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 50rem;
  padding: 15px;
  padding-left: 5vh;
  padding-right: 5vh;
  border-radius: 30px;
  color: #2b0f49;
  background-color: #f6f6f6;
  list-style-type: none;
  text-decoration: none;
}
.botonComprar:hover {
  color: #f6f6f6;
  background: #9747ff;
}

.txt-foto {
  display: flex;
  flex-direction: column-reverse;
}

.tituloProducto {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 5vw, 30px);
  text-align: center;
  margin-top: 10px;
  width: 80%;
  border-radius: 25px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: left;
  color: white;
}

.divTitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.card-img {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* modal Contacto */
/******************/

/* Contacto */

.fondoLuna {
  background-image: url("../img/luna.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.tituloContactanos{
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 5vw, 30px);
  text-align: center;
  margin-top: 10px;
  width: 80%;
  background: #ecd7fb;
  border-radius: 25px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: left;
  padding-left: 26px;

}
.buttonClose {
  background: #9747ff;
  color: #ffffff;
}
.contacto {
  margin-top: 1vh;
}

#modalContact .modal-body {
  height: 90vh;
  overflow: hidden;
}

form {
  width: 80%;
  height: 70vh;
  margin: 20vh auto 20vh auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form label {
  width: 150vh;
  font-weight: bold;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  display: inline-block;
}

form input[type="text"],
form input[type="email"] {
  width: 100%;
  padding: 1vh;
  border: 1px solid #f6f6f6;
  border-radius: 30px;
  background-color: #f6f6f6;
  margin: 6px 0;
  display: inline-block;
}

form input[type="submit"] {
  font-size: 3vh;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  padding: 1vh 4vh;
  margin-top: 3vh;
  border-radius: 30px;
  background-color: #f6f6f6;
}

form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #9747ff;
  text-justify: center !important;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 10px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 30px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}

.btnEnviar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal Gracias */
/******************/

.textoGracias {
  padding: 3vh;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 5vw, 26px);
  text-align: center;
  color: #ffffff;
}

.closeGracias {
  background: #ffffff;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #14041e;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.closeGracias:hover {
  color: #9747ff;
  background: #14041e;
}

/* Página 404   */

.fondoError404 {
  overflow-x: hidden;
  background: linear-gradient(180deg, #682259 0%, #3A2363 92.65%, #3C2471 100%);
  color: #ffffff;
  height: 120vh;
}

.logo404 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50px;
  top: 50px;
}

.error404 {
  padding-top: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.boton404 {
  width: 60px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  padding: 15px;
  border-radius: 30px;
  color: #000;
  background-color: #f6f6f6;
  list-style-type: none;
  text-decoration: none;
}

.boton404:hover {
  cursor: pointer;
}

.textoContacto {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400px;
  line-height: 25px;
  color: white;
  font-size: clamp(1rem, 5vw, 30px);
}

#modalNosotros,
#modalProductos,
#modalContact,
#modalGracias,
#modalProducto1,
#modalProducto2,
#modalProducto3 {
  background-color: rgba(236, 215, 251, 0.53) !important;
}

.hiddenGracias {
  display: none;
}

/*redes mobile*/


.redesMobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #ecd7fb;
  color: #fff;
  font-size: 6.8vh;
  z-index: 1;
  bottom: 0;
}

.redesMobile ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0.2rem;
}

.redesMobile a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(1rem, 1vh, 4rem);
  font-family: Serif;
  font-weight: bold;
  color: #2b0f49;
  text-decoration: none;
}

.redesMobile img {
  width: 5vh;
}

/*titulo producto*/
.descripcionProd {
  display: none;
}

/*Media Queries solo mobile*/

@media screen and (max-width: 1160px) {
  .gridNav {
    transform: translate(-500px);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
  }

  .menu-show {
    transform: translate(0px);
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
  }

  /*Nav*/
  .gridNav {
    position: absolute;
    max-width: 500px;
    width: 75vw;
    height: 100vh;
    z-index: 1;
    top: 0;
  }

  .media1 img {
    width: 45vw;
  }
  .media2 img {
    width: 45vw;
  }
  .media3 img {
    width: 90vw;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .media4 img {
    width: 45vw;
  }
  .media5 img {
    width: 45vw;
  }

  .error404 img {
    width: 100%;
  }

  .logo404 {
    position: static;
  }

  .logoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*Media Queries para desktop*/

@media screen and (min-width: 1160px) {

  .closeLogo {
    display: none;
  }
  .redes {
    display: flex;
    left: 50px;
    position: absolute;
    width: 290px;
    height: 33px;
    background: #ecd7fb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .redesMobile {
    display: none;
  }

  .menuMobile {
    display: none;
  }
  .nav-bar {
    top: 280px;
  }

  .nav-bar a {
    padding: 8vh;
  }

  .nav-bar p {
    display: none;
  }

  .nav-bar li {
    display: block;
  }

  .nav-bar li img {
    display: none;
  }

  .nav-bar ul {
    margin-bottom: 6rem;
  }

  .logo {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 93px;
    top: 68px;
    display: block;
  }

  .body-grid {
    display: grid;
    width: 100%;
    grid-template-areas: "gridNav" "gridMain";
  }

  .gridMainMobile {
    display: none;
  }

  .gridMain {
    display: grid;
    grid-template-areas:
      "a b c"
      "d b f"
      "d e f"
      "g h i";
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: auto;
  }

  .media1 {
    grid-area: a;
    width: 24vw;
  }

  .media2 {
    grid-area: b;
    width: 24vw;
  }

  .media3 {
    grid-area: c;
    width: 24vw;
  }

  .media4 {
    grid-area: d;
    width: 24vw;
  }

  .media5 {
    grid-area: e;
    width: 24vw;
  }

  .media6 {
    grid-area: f;
    width: 24vw;
  }

  .media7 {
    grid-area: g;
    width: 24vw;
  }

  .media8 {
    grid-area: h;
    width: 24vw;
  }

  .media9 {
    grid-area: i;
    width: 24vw;
  }

  .logoProductos {
    display: block;
  }

  .body-grid {
    grid-template-columns: 400px 1fr;
  }

  .cardsProductos {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    padding: 0;
    background: none;
  }

  .cardProducto:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .descripcionProd {
    display: block;
  }

  .textoProductos {
    line-height: 32px;
  }

  .txt-foto {
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
  }
}

@media screen and (min-width: 1600px) {
  .gridMain {
    grid-template-columns: 21vw 21vw 21vw;
  }
}

@media screen and (min-width: 600px) {
  .nav-bar a {
    padding: 5vh;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 75vw;
    margin: 1.75rem auto;
  }
}

@media screen and (min-width: 768px) {
  .txt-foto {
    flex-direction: column;
  }

  .textoProducto h5 {
    display: block;
  }
  .textoContactanos {
    color: #fff;
    background-color: #2b0f4900;
    text-align: center;
  }

  form {
    width: 60%;
  }
}
